<a href="https://colab.research.google.com/github/jumbokh/encoding-BCH/blob/main/BCH_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive') # 點擊網址，選擇 Google 帳號登入，然後將授權碼貼回輸入框中

Mounted at /content/gdrive

In [2]:
!ln -fs /content/gdrive/My\ Drive/Colab\ Notebooks/BCH/ /app
%cd /app

/content/gdrive/My Drive/Colab Notebooks/BCH

In [3]:
!ls # 確定目錄有訓練資料

BCH	  BCH_R_S_Input_Model.png  extract_parameters.py
BCH.csv   BCH_Train.ipynb	   Final-model.h5
BCH-logs  data			   test.h5

In [4]:
import os
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

from tensorflow import keras
from tensorflow.keras import layers

In [5]:
data = pd.read_table("data/Training_one_to_50000.txt",sep=',',header=None)
print(data.shape)
data.head()

(50000, 75)

         0         1         2         3         4   ...  70  71  72  73  74
0  2.236141  0.677073  1.892023  2.212047  2.173484  ...   0   0   0   1   0
1  2.727983  1.644212  1.913891  1.740416  2.590680  ...   1   0   1   0   1
2  2.409236  2.801631  2.057426  2.184759  2.683636  ...   0   0   0   1   1
3  1.791774  1.749787  2.585813 -0.052639  2.278452  ...   0   1   0   1   1
4  2.095124  3.361770  2.132792  1.169481  1.952437  ...   1   1   0   0   0

[5 rows x 75 columns]

In [25]:
from sklearn import preprocessing   
import numpy as np

In [28]:
#　https://aifreeblog.herokuapp.com/posts/54/data_science_203/
Min_Max_Scaler = preprocessing.MinMaxScaler( feature_range=(-1,1) ) # 設定縮放的區間上下限

In [32]:
c = np.array(data)
data_recp = c[:,:63]
MinMax_Data = Min_Max_Scaler.fit_transform( data_recp ) # Data 為原始資料

In [33]:
print(MinMax_Data.shape)
print(MinMax_Data[:5])

(50000, 63)
[[ 0.16526226 -0.38988075 -0.02269398  0.16133774  0.14035665 -0.18627233
   0.48127444  0.26965293  0.05198578 -0.1236961   0.19623933 -0.0816841
  -0.08163587 -0.05482516  0.09061733  0.36265302  0.29256801  0.03144075
  -0.48678055 -0.70714107 -0.04431095  0.14307799 -0.38513189 -0.35302213
   0.33823341  0.04047587  0.31357988 -0.3435214   0.33521773 -0.32394972
  -0.13782901 -0.21811168 -0.08205822 -0.12338132  0.42959645  0.21186972
   0.00567064  0.34281986  0.09391528  0.09841882  0.4096713   0.07219989
  -0.17104073  0.06078598 -0.03253457 -0.24751141  0.10577498  0.14099224
   0.09357883 -0.02285654 -0.08320669 -0.16946341 -0.13845678  0.29875817
   0.08114705 -0.02890881  0.06404679  0.10598091 -0.13500534 -0.04734413
  -0.09816704  0.11109946  0.04287932]
 [ 0.32877798 -0.10020427 -0.0155947   0.00954863  0.27957178  0.13046238
  -0.1312923   0.48681309 -0.12357932 -0.04081672  0.47005905 -0.52517876
   0.19627347  0.29465622 -0.36664966  0.17343864  0.37194958  0.02601664
  -0.0088127   0.05091181  0.03771494 -0.56401406  0.37741571 -0.06632828
   0.38801622  0.50698083  0.18879294 -0.26891302  0.22489161 -0.06499275
   0.32680036 -0.18386274  0.25531107 -0.18604661  0.28051819  0.21560106
   0.09474303 -0.30734335  0.17660966  0.30566478  0.40805734 -0.37544448
   0.10288531 -0.1618892   0.12556594  0.25998109  0.16836798  0.04737284
   0.29295131 -0.09676053 -0.26970517  0.23743022  0.05360483  0.35824939
   0.31846517 -0.02947335  0.20142014 -0.01602673 -0.03526172  0.26327402
  -0.02476157  0.37115358 -0.3166166 ]
 [ 0.22280878  0.24646469  0.03100383  0.15255519  0.31059064  0.1025752
   0.40368132  0.16475711  0.31196512 -0.00171539 -0.13919805  0.08110958
   0.26790326  0.24572349 -0.29122516 -0.05537201 -0.65663296  0.07538002
  -0.38846497  0.19127878  0.47419725  0.00562797  0.18667491  0.04537313
  -0.12699008  0.23299164 -0.01058848  0.00656002 -0.16262352 -0.48446835
  -0.07702888 -0.02828271  0.45105425 -0.14576127  0.11224255 -0.10471007
   0.09189986 -0.3536308   0.20334058 -0.61376294  0.25942587 -0.13481272
   0.22082385 -0.47836336  0.35630541  0.19977057 -0.27973067 -0.25236991
   0.00093758 -0.04446112  0.00334522  0.08159258 -0.1182755   0.11968325
   0.39896331  0.0013226  -0.12708524  0.13676262 -0.20964379  0.14749645
  -0.00312191  0.20129506  0.11520553]
 [ 0.01752943 -0.0685823   0.2025449  -0.56752557  0.17538378 -0.00112894
   0.35548935 -0.01731105  0.21915178 -0.12608956  0.13462256  0.02408231
   0.07964451  0.06103114 -0.45419562  0.14443721  0.17186296  0.0804662
   0.32802409  0.23095051 -0.01711122 -0.09454084  0.42277875 -0.28004682
  -0.58993464 -0.00176699  0.06467625 -0.28234809  0.00461477  0.28998768
  -0.14948698  0.43929001 -0.41800342  0.18505366  0.04398174 -0.06363858
   0.22102728  0.4032997  -0.03194883  0.06905391  0.00566119  0.17136106
   0.06991456  0.40490299 -0.16563168 -0.38128568 -0.21361179 -0.26186583
   0.40913352  0.33387521  0.12035693  0.04970056 -0.13980181  0.0597072
  -0.08764332 -0.06300785 -0.17910269  0.00458675 -0.01854589 -0.14300332
  -0.25185601  0.21480648  0.07299112]
 [ 0.11838014  0.4142369   0.05547155 -0.17420038  0.06659513 -0.37554498
  -0.01686684 -0.02628792  0.06901492 -0.12386323  0.08320719  0.28490837
  -0.00849261  0.30114501 -0.07735134  0.33283804 -0.66211316 -0.13771669
   0.34666939  0.01437984 -0.31375263  0.18268145 -0.08265677 -0.029702
   0.15323175  0.11040376  0.18690911  0.32263261 -0.29927782  0.05644978
   0.25739995 -0.02101297  0.0844113   0.16524852  0.13684782 -0.13743021
  -0.09420365  0.12445368  0.18988341  0.14232774  0.20614553  0.38314827
   0.11415108 -0.18592193 -0.55795684  0.47598738  0.25895266  0.25788896
   0.19365535  0.09546688  0.33806965 -0.10004915  0.22471925  0.08690921
   0.20319363  0.2848772  -0.16899453  0.26084513  0.22920798  0.21231147
  -0.21798003  0.39642887 -0.17127627]]

In [34]:
np.array(MinMax_Data).mean()

0.04495322885969454

In [42]:
b = np.array(data)
data_syndrom = b[:,63:len(b[0])]
print(data_syndrom.shape)
print(data_syndrom[:5])

(50000, 12)
[[1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0.]
 [1. 1. 1. 0. 1. 0. 0. 1. 0. 1. 0. 1.]
 [0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1.]
 [1. 0. 1. 1. 1. 1. 1. 0. 1. 0. 1. 1.]
 [0. 0. 0. 0. 1. 0. 1. 1. 1. 0. 0. 0.]]

# Data 最大值 最小值

In [43]:
print(MinMax_Data.max())
print(MinMax_Data.min())

1.0000000000000002
-1.0

In [ ]:
pd.DataFrame(data_syndrom).dtypes

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
dtype: object

In [44]:
datasets = pd.read_table("data/Validation_one_to_50000.txt",sep=',',header=None)
print(datasets.shape)
print(datasets.head())

(50000, 63)
   0   1   2   3   4   5   6   7   8   ...  54  55  56  57  58  59  60  61  62
0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
1   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
2   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
3   0   0   0   1   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0
4   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0   0   0

[5 rows x 63 columns]

In [ ]:
data_num = datasets.shape[0]
# 取得一筆與data數量相同的亂數索引，主要目的是用於打散資料
indexes = np.random.permutation(data_num)
# 並將亂數索引值分為Train、val和test分為，這裡的劃分比例為6:2:2
train_indexes = indexes[:int(data_num *0.6)]
val_indexes = indexes[int(data_num *0.6):int(data_num *0.8)]
test_indexes = indexes[int(data_num *0.8):]
# 透過索引值從data取出訓練資料、驗證資料和測試資料
x_train = datasets.loc[train_indexes]
x_val = datasets.loc[val_indexes]
x_test = datasets.loc[test_indexes]

In [ ]:
print(x_train.shape)
print(x_val.shape)
print(x_test.shape)

(30000, 63)
(10000, 63)
(10000, 63)

In [ ]:
syndrom = pd.DataFrame(data_syndrom)
x_train1 = syndrom.loc[train_indexes]
x_val1 = syndrom.loc[val_indexes]
x_test1 = syndrom.loc[test_indexes]

In [ ]:
print(x_train1.shape)
print(x_val1.shape)
print(x_test1.shape)

(30000, 12)
(10000, 12)
(10000, 12)