<a href="https://colab.research.google.com/github/jumbokh/encoding-BCH/blob/main/Weight_anal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive') # 點擊網址，選擇 Google 帳號登入，然後將授權碼貼回輸入框中

Mounted at /content/gdrive

In [ ]:
!ln -fs /content/gdrive/My\ Drive/Colab\ Notebooks/BCH/ /app
%cd /app

/content/gdrive/My Drive/Colab Notebooks/BCH

In [ ]:
!ls # 確定目錄有訓練資料

BCH	  BCH_R_S_Input_Model.png  extract_parameters.py
BCH.csv   BCH_Train.ipynb	   Final-model.h5
BCH-logs  data			   test.h5

In [ ]:
import os
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.utils import plot_model
from tensorflow.keras.layers import LeakyReLU
from IPython.display import Image

In [ ]:
df = pd.read_csv('BCH.csv',header=None)

In [ ]:
df.shape

(12, 90301)

In [ ]:
df.head()

     0         1         2         3      ...     90297     90298    90299     90300
0  R_input  0.000328 -0.003806 -0.001014  ...       NaN       NaN      NaN       NaN
1  S_input -0.006528  0.000905 -0.004293  ...       NaN       NaN      NaN       NaN
2   concat       NaN       NaN       NaN  ...       NaN       NaN      NaN       NaN
3  hidden1  0.000000 -0.005244  0.001668  ...       NaN       NaN      NaN       NaN
4  hidden2  0.001159  0.000627 -0.008790  ... -0.016976  0.053412 -0.03129  0.013849

[5 rows x 90301 columns]

In [ ]:
layer=df.shape[0]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Columns: 90301 entries, 0 to 90300
dtypes: float64(90300), object(1)
memory usage: 8.3+ MB

In [ ]:
r = df.loc[0]
len(r)

90301

In [ ]:
s = df.loc[1]
len(s)

90301

In [ ]:
for i in range(df.shape[0]):
  x = df.loc[i]
  x = x[x.notnull()]
  print(x[0],end='')
  print(',',len(x))

R_input, 4033
S_input, 157
concat, 1
hidden1, 22801
hidden2, 90301
hidden3, 90301
hidden4, 90301
hidden5, 90301
hidden6, 90301
output, 18964
reliability_Input, 1
syndrom_Input, 1